gunicorn>=23.0
setuptools>=68
wheel>=0.40.0
asgiref==3.11.0
bcrypt==5.0.0
certifi==2026.1.4
cffi==2.0.0
cryptography==46.0.3
dj-database-url==3.1.0
Django==6.0
django-cors-headers==4.9.0
django-environ==0.12.0
djangorestframework==3.16.1
django-extensions>=3.3
invoke==2.2.1
numpy==2.4.0
packaging==25.0
paramiko==4.0.0
pycparser==2.23
pygrib==2.1.8
PyNaCl==1.6.2
pyproj==3.7.2
sqlparse==0.5.5
whitenoise==6.8.2
