# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb
*.egg
*.egg-info/
*.log
*.sqlite3
.env
.venv/
venv/
ENV/
env/
*.env

# Django
*.pot
*.py[cod]
db.sqlite3
/static/
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# PyCharm
.idea/
*.iml

# Logs
logs/
*.log

# Byte-compiled / cache
__pycache__/
*.py[cod]

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/
.pytest_cache/

# Coverage
htmlcov/
.coverage
coverage.xml

# Celery beat schedule files
celerybeat-schedule
celerybeat.pid

# Node / NPM (if you have a frontend)
node_modules/

# Backup files
*.bak
*.swp
*.swo

# OS Files
Thumbs.db
ehthumbs.db
